html {
  scroll-behavior: smooth;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

* {
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 28px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
  background: url('/static/images/background.jpg');
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 90; 
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(4px); 
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex: 0 0 20%;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: rgb(138, 0, 0);
}


.website-home {
  position: relative;
  width: 100%;
  height: 100vh; /* fills the screen */
  overflow: hidden; /* hides video overflow but still allows scrolling past */
}

.bg-header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  z-index: 1;
}


.hero-content {
  position: relative;
  z-index: 2; 
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.hero-content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.logo {
  position: relative;
  left: 25px;
  width: 120px;
}
.hero-content p {
  font-size: 1.2rem;
}

#content-page {
  display: flex;
  flex-direction: column;
}

.page-sections {
  height: auto;
}

.content-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 50px;
  width: 100%;
  gap: 1rem;
}

.title-row {
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 1rem;
}

.album-content {
  border: 1px solid;
  padding: 30px;
  border-radius: 12px;
}

.album-cover {
  transition: 1s ease;
}

.content-row-inner img {
  max-height: 360px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.album-cover:hover {
  transform: scale(1.05);
}