
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

* {
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 28px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: url('/static/images/background.jpg');
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 90; 
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(4px); 
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex: 0 0 20%;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: rgb(138, 0, 0);
}


.website-home {
  position: relative;
  width: 100%;
  height: 100vh; /* fills the screen */
  overflow: hidden; /* hides video overflow but still allows scrolling past */
}

.bg-header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  z-index: 1;
}


.hero-content {
  position: relative;
  z-index: 2; 
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.hero-content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.logo {
  position: relative;
  left: 25px;
  width: 120px;
}
.hero-content p {
  font-size: 1.2rem;
}

#content-page {
  display: flex;
  flex-direction: column;
}

.page-sections {
  height: auto;
}

.music-content-items {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 50px;
  width: 100%;
}

.inner-music-content {
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.music-container-title {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.album-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  flex-wrap: wrap;
}
.music-items {
  border: 2px solid white;
  width: 100%;
  max-width: 400px;   /* control how wide each album box gets */
  aspect-ratio: 1 / 1; /* make them perfect squares */
  overflow: hidden;    /* hide overflow from object-fit */
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-pic {
  width: 100%;
  height: 100%;
  object-fit: cover; /* fills container completely */
  display: block;
}