{% extends 'base.html'%}


{% block head %}
<title>Tempting | Official</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}


{% block body %}
<main id="main-content">
    <div id="home" class="home">
        <section class="website-home">
            <div class="video">
                <a href="#">
                    <video id="bg-header-video" class="bg-header-video" autoplay playsinline loop muted>
                        <source src="static/videos/faith.mp4" type="video/mp4">
                    </video>
                </a>
            </div>
        </section>
    </div>
    <div id="content-page" class="content-page">
        <section id="music-content" class="music-content page-sections">
            <div class="content-items">
                <div class="title-row">
                    <div class="title-music">
                        <a href="#">
                            <h2>MUSIC</h2>
                        </a>
                    </div>
                </div>
                <div class="album-row">
                    {% for album in albums %}
                    <div class="album-content">
                        <div class="album-cover">
                            <a href="#">
                                <img src="{{album.image_url}}" alt="{{album.title}}">
                                <h3>{{album.title}}</h3>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </section>
        <section id="shop-content" class="shop-content">
            <div class="content-items">
                <div class="title-row">
                    <div class="title-shop">
                        <a href="#">
                            <h2>SHOP</h2>
                        </a>
                    </div>
                </div>
                <div class="swiper shop-swiper">
                    <div class="swiper-wrapper">
                        {% for product in products %}
                        <div class="swiper-slide">
                            <img src="{{ product.image_url }}" alt="{{ product.title }}">
                            <h3>{{ product.title }}</h3>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

            </div>

        </section>
    </div>
</main>
{% endblock %}
