{% extends 'base.html'%}


{% block head %}
<title>Tempting | Official</title>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}


{% block body %}
<main id="main-content">
    <div id="home" class="home">
        <section class="website-home">
            <div class="video">
                <a href="#">
                    <video id="bg-header-video" class="bg-header-video" autoplay playsinline loop muted>
                        <source src="static/videos/faith.mp4" type="video/mp4">
                    </video>
                </a>
            </div>
        </section>
    </div>
    <div id="content-page" class="content-page">
        <section id="music-content" class="music-content page-sections">
            <div class="content-items">
                <div class="title-row">
                    <div class="title-music">
                        <h2>MUSIC</h2>
                    </div>
                </div>
                <div class="album-row content-row">
                    {% for album in albums %}
                    <div class="album-container content-row-wrapper">
                        <div class="album-cover content-row-inner">
                            <a href="#">
                                <img src="{{album.image_url}}" alt="{{album.title}}">
                                <h3>{{album.title}}</h3>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </section>
        <section id="shop-content" class="shop-content page-sections">
            <div class="content-items">
                <div class="title-row">
                    <div class="title-shop">
                        <h2>SHOP</h2>
                    </div>
                </div>
                <div class="shop-row content-row">
                    {% for product in products %}
                    <div class="shop-container content-row-wrapper">
                        <div class="product-img content-row-inner">
                            <a href="#">
                                <img src="{{product.image_url}}" alt="{{product.title}}">
                                <h3>{{product.title}}</h3>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section id="video-content" class="video-content page-section">
            <div class="content-items">
                <div class="title-row">
                    <div class="title-videos">
                        <h2>VIDEOS</h2>
                    </div>
                </div>
                <div class="video-row content-row">
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}
